In [4]:
import yfinance as yf

In [5]:
tesla = yf.download("TSLA", start='2015-01-01', end='2016-01-01')

[*********************100%***********************]  1 of 1 completed

In [6]:
tesla.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2015-01-02  44.574001  44.650002  42.652000  43.862000  43.862000  23822000
2015-01-05  42.910000  43.299999  41.431999  42.018002  42.018002  26842500
2015-01-06  42.012001  42.840000  40.841999  42.256001  42.256001  31309500
2015-01-07  42.669998  42.956001  41.956001  42.189999  42.189999  14842000
2015-01-08  42.562000  42.759998  42.001999  42.124001  42.124001  17212500

In [9]:
tesla.to_csv('C:/Users/prasu/Documents/Tableau_Project_Stock_Candlesticks/tesla.csv')